node_modules/
dist/
.env
.env.local
.DS_Store
*.log

# Backend specific
backend/node_modules/
backend/dist/
backend/generated/prisma
backend/.env

# Prisma
backend/prisma/migrations/

# Uploaded files
backend/uploads/*
!backend/uploads/avatars/.gitkeep

# Frontend specific

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
